<p id="notice"><%= notice %></p>

<h1>Resturants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Genre</th>
      <th>Rating</th>
      <th>tenbis</th>
      <th>Address</th>
      <th>Max delivery time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resturants.each do |resturant| %>
      <tr>
        <td><%= resturant.name %></td>
        <td><%= resturant.genre %></td>
        <td><%= resturant.rating %></td>
        <td><%= resturant.tenbis %></td>
        <td><%= resturant.address %></td>
        <td><%= resturant.max_delivery_time %></td>
        <td><%= link_to 'Show', resturant %></td>
        <td><%= link_to 'Edit', edit_resturant_path(resturant) %></td>
        <td><%= link_to 'Destroy', resturant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resturant', new_resturant_path %>
