<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-md-6" id="filters">
      <table>
      <thead>
        <th>Accepts 10bis:</th>
        <th>Genre:</th>
        <th>Rating:</th>
      </thead>
      <tr>
        <td>
          <input type="checkbox" name="tenbis-filter" value="accepts-tenbis">
        </td>
        <td>
          <select>
            <% @resturants.each do |resturant| %>
              <% title = resturant.genre %>
              <option value=<%= title %> > <%=title %> </option> 
            <% end %>
          </select>
        </td>
        <td>
          <select>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-sm-8">
    <ul class="list-group row">
      <% @resturants.each do |resturant| %>
      <li class="list-group-item col-sm-4" id="cuisine-img">
        <%= image_tag resturant.get_cuisine_icon %>
      </li>
      <li class="col-sm-8" id="resturant-details">
        <a href=<%= resturant_path(resturant)%>>
          <div class="col-sm-12">
            <%= resturant.name %>
          </div>
          <div class="col-sm-12">
            <%= resturant.genre %>
          </div>
          <div class="col-sm-12">
            Rating:
            <% resturant.rating.times do %>
              <i class="fa fa-star"></i>
            <% end %>
          </div>
          <% if resturant.tenbis %>
            <div class="col-sm-12" id="tenbis">
              <%= image_tag "10bis.jpg" %>
            </div>
          <% end %>
          <div class="col-sm-12">
            <%= link_to 'Edit', edit_resturant_path(resturant) %>
          </div>
        </a>
      </li>
      <% end %>
    </ul>
    </div>
  <div class="col-sm-4" id="google-map">
    That's where google map will be
  </div>
</div>
<div class="row">
  <div class="col-sm-8" id="new-resturant">
    <%= link_to 'New Resturant', new_resturant_path %>
  </div>
</div>
</div>    