<%= form_for [@resturant, @review] do |f| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :reviewer %>
    <%= f.text_field :reviewer %>
  </div>

  <div class="field">
    <%= f.label :rating %>
    <%= f.number_field :rating, in:0...4 %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, rows: 10, cols: 60 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
