<!DOCTYPE html>
<html>
  <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12  text-center">
                    <br><br><br><br><br><br>
                    <hr>
                    <a href="/">
                      <h1 class="tagline">WeEatAgain</h1>
                    </a>
                    <hr>
                    <p>Is is lunchtime already?</p>
                    <p>Choose a place to eat out of these recommended resturants</p>
                    <br>
                </div>
            </div>
        </div>
  </header>
  <head>
    <script src="https://use.fontawesome.com/d5e9f09ea5.js"></script>
  	<%= favicon_link_tag 'favicon.ico' %>
    <title>WeEatAgain</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class='<%= controller.controller_name %>'>
    <%= yield %>
  </body>
</html>
